.loadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
  
.loadingContainer svg{
    font-size: 5em;
}

.loadingContainer path{
    fill: var(--white-color);
}

.loadingContainer p{
    line-height: 33px;
    text-align: center;
    font-size: 2em;
    padding-top: 8px;
    color: var(--white-color);
}
  
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
  
.rotate{
    animation: spin 1.5s linear infinite;
}